.castList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: scroll;
}

.castItem {
  max-width: 185px;
  border: linen 1px solid;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.castName {
  display: block;
  margin-top: 5px;
}

.castCharacter {
  display: block;
  margin: 4px 0;
  font-style: italic;
  color: #757575;
}
